.login-form{
  margin: 50px;
  input{
    border-radius: 15px;
  }
}

.spotify-login{
  width: 30px;
  height: 30px;
}

.spotify-login-button{
  font-size: 22px;
  background-color: #1DB954 !important;
  border-radius: 40px !important;
  padding: 18px;
  color: white;
  pointer-events: none;
  width: 190px;
}

.ub{
  display: none;
}

.sbm{
  margin-top: 20px !important;
}