@import "Colors.scss";

.rounded{
  border-radius: 12px;
}

.indent{
  margin-left: 30px;
}

.friendButton{
  border-radius: 10px;
  background-color: $salmon;
  float:left;
}

.centered{
  text-align: center;
  margin: auto;
}