@import "Colors.scss";

.rounded{
  border-radius: 12px;
}

.indent{
  margin-left: 30px;
}

.friendButton{
  transition: transform 250ms;
  border-radius: 10px;
  background-color: $light-blue;
  float:left;
}
.friendButton:hover{
  transform: scale(1.035);
}

.centered{
  text-align: center;
  margin: auto;
}