@import "Colors.scss";

html, body{
  margin: 0px;
  height: 100%;
  font-family: 'Noto Sans', sans-serif !important;
}

.small_text{
  font-size: 12px;
}

.padding{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 30px;
}

.indent{
  margin-left: 5% !important;
}

.vertical-center{
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.outlined{
  border: 2px solid rgba(92, 163, 211, 0.712);
  background: rgba(237, 245, 250, 0.979);
  padding: 10px;
}

.Topbar{
  background: $dark-blue;
  padding: 15px;
  white-space: nowrap;
  h1{
    color: $light-color;
  }
  p{
    transition: transform 250ms;
    text-align: right;
    float: right;
  }
  p:hover{
    transform: scale(1.035);
  }
  a{
    color: $light-color;
  }
  a:hover{
    color: white;
  }
}

.button{
  font-size: 30px;
  background-color: $salmon !important;
  border-radius: 25px !important;
}

.medium{
  font-size: 23px;
}

.profileBar{
  align-content: center;
  margin: 0 auto;
  background-color: $medium-blue;
  width:100%;
  height: 20%;
  z-index: 5000;
  color: $medium-blue;
}

.align{
  display: inline;
}

.app{
  height: 100%;
}

.profile-left{
  // margin: 3%;
  // margin-top: 10%;
  width: 50%;
  height: 100%;
  padding: 25px;
  overflow: auto;
  border-style: solid;
  margin: 15px;
  border-color: darken($light-color, 10%);
  background-color: lighten($light-color, 1%);
  border-width: 3px;
  display: inline-block;
}

.wrap{
  overflow-wrap: break-word;
}

.grey{
  background-color: rgb(182, 182, 182);
}

.salmon{
  background-color: $salmon !important;
  color: rgb(228, 228, 228) !important;
}

.lightColor{
  background-color: $light-color;
}

.overlap{
  position: absolute !important;
  z-index: 10000 !important;
}

.userTopBar{
  background-color: rgb(235, 235, 235);
  padding-bottom: 10px;
}
a{
  color: black;
}

.playlist{
  overflow: auto;
  height: 550px;
}
.playlistForm{
  margin: 60px;
}

.white{
  background-color: white !important;
}

.playlistdisplay{
  background-color: rgb(241, 241, 241);
}

.search-tile{
  height: 70px;
}

.medium-blue{
  background-color: $medium-blue !important;
}

.align-right{
  text-align: right !important;
}